index.txt
version.txt
index.txt.meta
version.txt.meta
desktop.ini
.DS_Store
*.lnk
*.iml
*.user
*.luaproj
*.iml.meta
ShaderForge/
ShaderForge.meta
/*/Assets/CapsSpt/testdata.meta
/*/Assets/Plugins/RenderHeads.meta
/*/Assets/Plugins/RenderHeads/
/*/Assets/CapsSpt/emulator/profiler/batDetail
/*/Assets/CapsSpt/emulator/profiler/batDetail.meta
/*/Assets/CapsSpt/emulator/profiler/testInitializer
/*/Assets/CapsSpt/emulator/profiler/testInitializer.meta
*/.idea/.idea.*/.idea/.gitignore
*/.idea/.idea.*/.idea/indexLayout.xml
*/.idea/.idea.*/.idea/misc.xml
*/.idea/.idea.*/.idea/vcs.xml
*/.idea/.idea.*/.idea/contentModel.xml
*/.idea/.idea.*/.idea/modules.xml
*/.idea/.idea.*/.idea/projectSettingsUpdater.xml
*/.idea/.idea.*/.idea/workspace.xml
/*.code-workspace
.vsconfig
